<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Jazmine Rizo</title>
    <meta name="description" content="Jazmine Rizo - CV / Resume / Personal Website" />
    <meta name="keywords" content=" responsive resume template, cv template, multipurpose, responsive template, vcard, html5 template, templatemonster, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js" />
    <meta name="author" content="Hencework" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/css/favicon.ico">
    <link rel="icon" href="~/Content/css/favicon.ico" type="image/x-icon">


    <!--Fonts - changed to Source Code Pro-->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>

    <!--Imported fonts-->
    <link rel="stylesheet" href="https://path/to/font-awesome/css/font-awesome.min.css">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
</head>

<body id="body" data-ng-app="contactApp">

    <!--Fixed Bg Image-->
    <div class="fixed-bg"></div>
    <div class="fixed-bg-overlay"></div>
    <!--/Fixed Bg Image-->
    <!--Preloader-->
    <div id="pre_load" class="preloader-it">
        <div id="la_anim" class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <!--Container-->
    <div class="container-fluid">
        <div class="row">
            <div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">

                <!--Navigation-->
                <nav class="navbar navbar-default vertical-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
                                data-target="#navbar_collapse">
                            <span class="mask"></span>
                            <span class="btn-label">
                                <span class="pe-7s-menu"></span>
                            </span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar_collapse">
                        <ul class="nav navbar-nav">
                            <li><a data-scroll href="#body"></a><span>about</span></li>
                            @*<li><a data-scroll href="#services_sec"></a><span>services</span></li>*@
                            <li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
                            <li><a data-scroll href="#work_sec"></a><span>Portfolio Projects</span></li>
                            <li><a data-scroll href="#edu_sec"></a><span>education</span></li>
                            <li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
                            <li><a data-scroll href="#client_sec"></a><span>Links</span></li>
                            @*<li><a data-scroll href="#achivement_sec"></a><span>achivements</span></li>*@
                            <li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
                        </ul>
                    </div>
                </nav>
                <!--/Navigation-->

            </div>

            <div class="col-lg-8 col-xs-12 pad-zero">

                <!--Header-->
                <header>
                    <div class="header-wrap col-lg-10 center-div">
                        <div class="float-left name">
                            <a data-scroll href="#body">
                                <span>
                                    @*JAZMINE RIZO*@
                                </span>
                            </a>
                        </div>

                        <div class="float-right social-download-wrap">
                            <a href="~/Content/Resume.pdf" class="btn btn-default float-left">
                                <span class="mask"></span>
                                <span class="btn-label">
                                    <b>download resume</b>
                                    <span class="icon pe-7s-download"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </header>
                <!--/Header-->
                <!--Main Content-->
                @RenderBody()
                <!--/Main Content-->

            </div>
        </div>
    </div>
    <!-- /Container -->
    <!-- Scripts -->
    <script src="~/Scripts/TemplateJS/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/TemplateJS/angular.min.js"></script>
    <script src="~/Scripts/TemplateJS/bootstrap.min.js"></script>
    <script src="~/Scripts/TemplateJS/modernizr.custom.js"></script>
    <script src="~/Scripts/TemplateJS/app.js"></script>
    <script src="~/Scripts/TemplateJS/controllers.js"></script>
    <script src="~/Scripts/TemplateJS/jquery.placeholder.js"></script>
    <script src="~/Scripts/TemplateJS/smooth-scroll.js"></script>
    <script src="~/Scripts/TemplateJS/countTo.js"></script>
    <script src="~/Scripts/TemplateJS/jQuery.appear.js"></script>
    <script src="~/Scripts/TemplateJS/isotope.js"></script>
    <script src="~/Scripts/TemplateJS/typed.js"></script>
    <script src="~/Scripts/TemplateJS/lightgallery-all.js"></script>
    <script src="~/Scripts/TemplateJS/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/TemplateJS/owl.carousel.min.js"></script>
    <script src="~/Scripts/TemplateJS/froogaloop2.min.js"></script>
    <script src="~/Scripts/TemplateJS/wow.min.js"></script>
    <script src="~/Scripts/TemplateJS/init.js"></script>

    <!-- jQueryUI Script -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
